@prefix dc: <http://purl.org/dc/terms/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix c: <#> .

c:default-config	
	# publishing options
	c:csv_input			"test/potd_0.csv" ;
	c:output_base_uri	<http://example.org/instata/potd_0> ;
	c:schema_matching	"dbpedia-2011-07-31.rdf" ; 
	
	# directory and file options
	c:templates_dir		"templates/" ;
	c:mappings_dir		"mappings/" ;
	c:output_dir		"output/" ;
	c:base_template		"base.tpl" ;
	c:base_style_file	"web.instata-style.css" ;
	
	# metadata about the config file
	dc:title		"The default configuration for web.instata" ;
	dc:modified		"2011-08-01"^^xsd:date ;
	dc:creator		<http://sw-app.org/mic.xhtml#i> ;
.
